// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here
$primary: #19e280;
$secondary: #124143;

$light: #fff;
$dark: #000;

$font-family-base: 'Everett Regular', sans-serif;
$font-size-base: 1.125rem;

$display-font-sizes: (
	1: 5rem,
	2: 4rem,
	3: 3.5rem,
	4: 2.5rem,
	5: 2rem,
	6: 1.5rem,
);

$display-font-family: 'Everett Medium', sans-serif;
$display-font-style: null;
$display-font-weight: 500;

$input-placeholder-color: rgba(0, 0, 0, 1);

$box-shadow-lg: 0 0rem 6rem rgba(0, 0, 0, 0.1);

$grid-gutter-width: 4rem;

$accordion-color: $dark;
$accordion-button-active-bg: transparent;
$accordion-bg: transparent;
$accordion-border-color: black;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-color: #ff704a;
$accordion-padding-x: 0rem;

// 3. Include remainder of rgb(32, 31, 31)uired Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';

// 4. Include any default map overrides here
$custom-colors: (
	'custom-green-one': #adffca,
	'custom-green-two': #1ddd63,
	'custom-green-three': #05c15c,
	'custom-green-four': #13864c,
	'custom-green-five': #0c755c,
	'custom-orange': #ff704a,
	'custom-grey-one': #dddfdf,
	'custom-grey-two': #9c9d9d,
	'custom-grey-three': #333333,
	'custom-beige-one': #ece3d4,
	'custom-beige-two': #d2ccb5,
	'custom-beige-three': #bfb285,
	'custom-blue-one': #d0edef,
	'custom-blue-two': #202777,
	'custom-blue-three': #091342,
	'custom-red-one': #f98080,
	'custom-red-two': #e42a0e,
	'custom-red-three': #5e191f,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts
@import '../node_modules/bootstrap/scss/maps';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import '../node_modules/bootstrap/scss/utilities';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/type';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/containers';
@import '../node_modules/bootstrap/scss/grid';
@import '../node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import '../node_modules/bootstrap/scss/utilities/api';

// 8. Add additional custom code here
@font-face {
	font-family: 'Everett Light';
	src: url('../public/fonts/Everett-Light.woff2') format('woff2');
	font-weight: 300;
}

@font-face {
	font-family: 'Everett Regular';
	src: url('../public/fonts/Everett-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Everett Medium';
	src: url('../public/fonts/Everett-Medium.woff2') format('woff2');
	font-weight: 500;
}

.display-1 {
	font-size: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Everett Light', sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.5rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1.5rem;
	font-family: 'Everett Medium', sans-serif;
}

small {
	color: #999;
}

strong {
	font-family: 'Everett Medium', sans-serif;
}

hr {
	opacity: 1;
}

a {
	text-decoration: none !important;
	cursor: pointer;
	color: map-get($custom-colors, custom-orange);
}

a:hover {
	color: #ea6a46;
}

.text-link {
	display: inline-block;
	padding: 0.25rem 0rem;
	text-decoration: none;
	border-bottom: 1px solid;
	white-space: nowrap;
	transition: opacity 0.2s ease-out;
}

.text-link:hover {
	opacity: 0.8;
}

.text-muted {
	opacity: 0.5;
	color: inherit !important;
}

.text-with-image-cta {
	color: map-get($custom-colors, custom-orange);
	border-color: map-get($custom-colors, custom-orange);
}

.text-with-image-cta:hover {
	color: #e75f3a;
	border-color: #e75f3a;
}

.four-block hr {
	border-color: map-get($custom-colors, custom-orange);
	border-width: 2px;
}

.form-control {
	background-color: white;
	border-color: $dark;
	border-radius: 0;
	color: $dark;
	padding: 0.75rem 1rem;
	outline: none;
}

.form-control::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

.form-control:focus {
	border-color: $dark;
	box-shadow: 0px 0px 0px 1px $dark;
}

.navbar {
	transition: background-color 0.2s ease-out;
}

.scrolling-text {
	display: block; /* Important to give the content a width */

	/*transform: translateX(100%); /* Animation start out of the screen */

	/* Add the animation */
	animation: move 120s linear infinite /* infinite make reapeat the animation indefinitely */;
}

/* Create the animation */
@keyframes move {
	to {
		transform: translateX(-100%);
	}
}

.nav-bar-bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.accordion-toggle-div {
	margin: 0;
	padding: 0;
}

.accordion-toggle-div:hover .lead {
	color: map-get($custom-colors, custom-orange);
}

.accordion-toggle-div:hover .accordion-svg-container {
	border-color: map-get($custom-colors, custom-orange) !important;
}

.accordion-toggle-div:hover path {
	fill: map-get($custom-colors, custom-orange) !important;
}

.accordion-toggle-div-active {
	color: map-get($custom-colors, custom-orange);
}

.accordion-button {
	padding: 1.5rem 0;
	border-bottom: 1px solid black;
	font-size: 1.5rem;
	font-family: Everett-Regular, sans-serif;
}

.accordion-button:hover {
	color: map-get($custom-colors, custom-orange);
}

.accordion-button:focus {
	box-shadow: none;
	background-color: transparent;
	border-color: black;
}

.accordion-button:not(.collapsed) {
	color: map-get($custom-colors, custom-orange);
	background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
	background-image: var(--bs-accordion-btn-icon);
}

.accordion-body {
	padding: 1.5rem 0rem;
	width: 50%;
}

.contact-info-container h6:nth-of-type(2) {
	margin-top: 2.5rem;
}

html {
	padding: 0;
	margin: 0;
}

.navbar-toggler {
	background-color: black !important;
	border-radius: 100%;
	width: 60px;
	height: 60px;
}

.navbar-toggler-icon {
	background-image: url('/mobile-menu.svg');
}

@include media-breakpoint-up(md) {
	.full-width-image-block {
		height: 90vh !important;
	}
}

@include media-breakpoint-down(sm) {
	h3 {
		font-size: 2rem !important;
	}
	h4 {
		font-size: 1.75rem !important;
	}
	.nav-link-item {
		font-size: 2rem !important;
	}
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	nav-link {
		font-size: 3rem;
	}
	.accordion-body {
		width: 100%;
	}
}
